numpy
pypdf
sentence_transformers
python-docx
python-dotenv
faiss-cpu
openai
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
unstructured
transformers>=4.51.0
torch
